<div class="wrapper">


    <div class="button">

        <a href="camas/inicio">
            <div>
                <i class="fas fa-arrow-circle-left"></i> Regresar

            </div>
        </a>




    </div>

    <div class="container text-center">


        <hr>

        <h1>SECCIÓN DE TRASLADOS Y ASIGNACIÓN</h1>

        <h4 class="mt-3"></h4>

        <hr>


    </div>



    <div class="body-traslado mt-5">

        <div class="filter">


            <app-pacientes></app-pacientes>

        </div>


    </div>


</div>