<h3 class="mt-5"><u> TRASLADAR PACIENTE</u></h3>

<div>

    <div class="row">

        <p class="mt-4 ml-1">Por favor Ingrese los siguientes filtros para realizar su busqueda</p>



        <div class=" col ">

            <h6 class=" "> Grupo:*</h6>

            <select #grupo class="form-select " aria-label=".form-select-lg example" (click)="findAllCamas()">
            
            <option selected > Escoja Grupo ...</option> 
            <option [value]=grupos *ngFor="let grupos of grupitos" (click)="findSubgrupoWithGrupo(grupo.value)">{{grupos}} </option>
                
              
                
            </select>


        </div>

        <div class="col ">

            <h6 class=" "> Subgrupo:*</h6>

            <select class="form-select " aria-label=".form-select-lg example" (click)="findSubgrupoWithGrupo(grupo.value)">
          
                <option selected > Escoja SubGrupo ...</option> 
                <option  *ngFor="let subgrupos of subgrupitos" >{{subgrupos}} </option>
            
              
           </select>


        </div>

        <div class="col ">


            <h6 class=" "> Tipo De Cama:</h6>

            <select class="form-select " aria-label=".form-select-lg example " (click)="findAllTipodeCama()">
          
                <option selected > Escoja Tipo(Opcional) ...</option> 
                <option  *ngFor="let tipo of tipito" >{{tipo}} </option>
            
              
           </select>









        </div>
    </div>


    <div class="boton-buscar mt-3">


        <a>


            <div>
                <i class="fas fa-search"></i> Buscar

            </div>



        </a>

    </div>



    <div>



        <div class="container mt-5">

            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
            <div class="item">8</div>
            <div class="item">9</div>
            <div class="item">10</div>

        </div>
    </div>


</div>