<h3 class="mt-5"><u> TRASLADAR PACIENTE</u></h3>

<div>

    <div class="row">

        <p class="mt-4 ml-1">Por favor Ingrese los siguientes filtros para realizar su busqueda</p>


        <div class=" col ">

            <h6 class=" "> Grupo:*</h6>

            <select #opcion class="form-select " aria-label=".form-select-lg example ">
            
            
                <option value="identificacion ">No. Identificacion</option>
                <option value="ingreso ">No. Ingreso</option>
              
                
            </select>


        </div>

        <div class="col ">

            <h6 class=" "> Subgrupo:*</h6>

            <select #opcion class="form-select " aria-label=".form-select-lg example ">
          
          
              <option value="identificacion ">No. Identificacion</option>
              <option value="ingreso ">No. Ingreso</option>
            
              
           </select>


        </div>

        <div class="col ">


            <h6 class=" "> Tipo De Cama:</h6>

            <select #opcion class="form-select " aria-label=".form-select-lg example ">
          
          
              <option value="identificacion ">No. Identificacion</option>
              <option value="ingreso ">No. Ingreso</option>
            
              
           </select>





        </div>
    </div>



</div>

<div class="container ">




</div>