.row {
    color: black;
}

.row h6,
h3 {
    color: #264285;
}

.container {
    margin: auto;
    background: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    background: tomato;
    color: #fff;
    flex: none;
    width: calc((100% - 30px)/4);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0;
}

a div {
    border: 2px solid #264285;
    border-radius: 15px;
    width: 140px;
    text-align: center;
    font-size: 20px;
    color: #264285;
    font-weight: bold;
    font-family: 'Poppins';
}

a div:hover {
    background-color: #264285;
    color: white;
    transform: translateY(-5px);
    transition: background-color 0.8s linear 0.2s;
    font-family: 'Poppins';
    cursor: pointer;
}

.boton-buscar {
    display: flex;
    justify-content: center;
}