<h3 class="mt-5"><u> TRASLADAR PACIENTE</u></h3>

<div>

    <div class="row">

        <p class="mt-4 ml-1">Por favor Ingrese los siguientes filtros para realizar su busqueda</p>



        <div class=" col ">

            <h6 class=" "> Grupo:*</h6>

            <select #grupo class="form-select " aria-label=".form-select-lg example" (click)="findAllCamas()">
            
            <option selected > Escoja Grupo ...</option> 
            <option [value]=grupos *ngFor="let grupos of grupitos" (click)="findSubgrupoWithGrupo(grupo.value)">{{grupos}} </option>
                
              
                
            </select>


        </div>

        <div class="col ">

            <h6 class=" "> Subgrupo:*</h6>

            <select #subgrupos class="form-select " aria-label=".form-select-lg example" (click)="findSubgrupoWithGrupo(grupo.value)">
          
                <option selected > Escoja SubGrupo ...</option> 
                <option  [value]=subgrupos *ngFor="let subgrupos of subgrupitos" >{{subgrupos}} </option>
            
              
           </select>


        </div>

        <div class="col ">


            <h6 class=" "> Tipo De Cama:</h6>

            <select class="form-select " aria-label=".form-select-lg example " (click)="findAllTipodeCama()">
          
                <option selected > Escoja Tipo(Opcional) ...</option> 
                <option  *ngFor="let tipo of tipito" >{{tipo}} </option>
            
              
           </select>









        </div>
    </div>


    <div class="boton-buscar mt-3">


        <a (click)="findCamaGrupoSubgrupoTipo(4,1,1)">


            <div>
                <i class="fas fa-search"></i> Buscar

            </div>



        </a>

    </div>



    <div *ngIf="!cargando ">


        <h5>{{tipoCama}}</h5>

        <div class="container mt-5">

            <div *ngFor="let camas of camitas" class="item">`Codigo:{{camas.codigoCama}} estado:{{camas.estadoCama}} url:{{camas.URL}}` </div>

        </div>
    </div>


    <div>

        <div class="alert alert-warning text-center mt-3" *ngIf="nodata">

            <h4 class="alert-heading ">No se encontraron registros</h4>

            <p>

                <i class="fa fa-exclamation fa-2x mt-3 "></i>
            </p>




        </div>

    </div>


    <div>

        <div class="alert alert-info text-center " *ngIf="cargando">



            <h4 class="alert-heading ">Cargando</h4>

            <p>

                <i class="fa fa-sync-alt fa-spin fa-2x "></i>
            </p>

            <p class="mb-0 ">

                Espere por Favor

            </p>


        </div>

    </div>






</div>