<!-- Pantalla Inicial -->

<div class="home">

    <app-carousel [items]="carouselData">

    </app-carousel>

</div>


<div class="container mt-3 text-center animate__animated animate__backInLeft cuerpo_home">

    <h1>"Software Especializado para control de camas y camilleros"</h1>

</div>

<div class="container  mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <i class="fas fa-procedures mt-3"></i>
                <div class="card-body">
                    <h3 class="card-title"><b>Software para censo de camas</b></h3>

                    <p class="card-text">Sistema encargado para control, asignacion y censo de camas en el Hospital
                        Universitario de Santander</p>

                </div>
                <div class="card-footer">
                    <a href="../../assets/pdfs/ProyectoHUS.pdf" download="ProyectoHUS"><button
                            class="btn btn-secondary"> Descargar Manual</button></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <i class="fas fa-luggage-cart mt-3"></i>
                <div class="card-body">
                    <h3 class="card-title"><b>Software para gestión de camilleros</b></h3>
                    <p class="card-text">Sistema encargado para asignacion de traslados de pacientes para camilleros en
                        el Hospital universitario de Santander</p>
                </div>
                <div class="card-footer">
                    <a href="" download="Reporte2Mayo2010"><button class="btn btn-secondary"> Descargar
                            Manual</button></a>
                </div>
            </div>
        </div>

    </div>

</div>