.home {
    margin-left: 9%;
    text-align: center;
    font-size: 25px;
}

.hr {
    color: #264285;
}

.card {
    text-align: center;
    font-size: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
    margin: auto;
    transition: all 0.25s;
    width: 80%;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.7);
}

.footer {
    background-color: #264285;
    color: white;
}

.contenido {
    margin-top: 5%;
}

i {
    font-size: 125px;
    color: #264285;
}

button {
    background-color: #264285;
}

.card-text {
    text-align: justify;
}

.cuerpo-home {
    text-align: center;
}

p {
    font-size: 18px;
}

.card-text {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}