<div class="wrapper">


    <hr>

    <h1>¡BIENVENIDO A LA SECCION DE QUIENES SOMOS!</h1>


    <h3 class="mt-3">Hospital Universitario de Santander</h3>



    <hr>


    <div class="cuerpo-inicial  animate__animated  animate__backInLeft">

        <div class="row ">


            <div class="col mt-5 ml-5">

                <h3>NUESTRA INSTITUCIÓN</h3>

                <hr>

                <p> Es una Institución Pública de orden Departamental, prestadora de servicios de salud de mediana y alta complejidad con estándares de Calidad, que en cumplimiento de su Misión busca mejorar continuamente sus procesos de atención en búsqueda
                    de la implementación de los estándares superiores de calidad establecidos en el Sistema Único de Acreditación. La ESE Hospital Universitario de Santander es una institución dedicada a contribuir al mejoramiento de la calidad de vida
                    de la comunidad del nororiente colombiano, mediante el trabajo de un equipo humano calificado, con apoyo tecnológico, a través de un proceso administrativo transparente y el compromiso con la academia, apoyado en la investigación y
                    generación de conocimiento. Su compromiso con la academia, apoyado en la investigación y generación de conocimiento, la ha posicionado como una de las instituciones más representativas en prestación de servicios de salud en el Departamento.
                </p>

            </div>

            <div class="col mt-5 ml-5">

                <img class="imagen" src="..//..//../assets/img/hus.png" alt="">


            </div>





        </div>


    </div>

    <div class="container logos">


        <hr>
        <div class="row logos2">

            <div class="col ">
                <img class="img-logos" src="../../../assets/img/LOGO-UIS.png">


            </div>
            <div class="col ">

                <img class="img-logos" src="../../../assets/img/icon.png">

            </div>
        </div>

        <hr>

    </div>







</div>