.wrapper h1 {
    text-align: center;
}

.wrapper p {
    margin-top: 30px;
    font-family: initial;
    font-size: 20px;
    text-align: justify;
}

.wrapper .imagen {
    margin-top: 40px;
    width: 100%;
}

.wrapper .logo {
    width: 500px;
    margin-top: 20px;
    width: 80%;
}

.wrapper .container {
    width: 80%;
}