
<div class="wrapper">

    

    
    <div class="container">

        <h1><b> E.S.E HOSPITAL UNIVERSITARIO DE SANTANDER </b></h1>

        <div class="row">

            <div class="col-6">


                
            <p> Es una Institución Pública de orden Departamental, prestadora de servicios de salud de mediana y alta complejidad con estándares de Calidad, que en cumplimiento de su Misión busca mejorar continuamente sus procesos de atención en búsqueda de la implementación de los estándares superiores de calidad establecidos en el Sistema Único de Acreditación.
                La ESE Hospital Universitario de Santander es una institución dedicada a contribuir al mejoramiento de la calidad de vida de la comunidad del nororiente colombiano, mediante el trabajo de un equipo humano calificado, con apoyo tecnológico, a través de un proceso administrativo transparente y el compromiso con la academia, apoyado en la investigación y generación de conocimiento.
                
                Su compromiso con la academia, apoyado en la investigación y generación de conocimiento, la ha posicionado como una de las instituciones más representativas en prestación de servicios de salud en el Departamento.
                </p>

            </div>

            <div class="col mt-5">


                <img class="imagen" src="..//..//../assets/img/hus.png" alt="">

            </div>

        
        </div>

        
    </div>

   

    <div class="container">

        <h1 class="mt-5"><b> PROYECTO DE SOFTWARE PARA TITULO DE INGENIERIA DE SISTEMAS </b></h1>
    <div class="row">

        <div class="col mt-5s">

            <img  class="logo" src="..//..//../assets/img/LOGO-UIS.png" alt="">
            
        
        </div>

        <div class="col ">


            <p> Proyecto prototipo de software elaborado por estudiantes de ingenieria de sistemas de la universidad Industrial de santander con el proposito de obtener el titulo de Ingenieria de Sistemas encargado de Diseñar e implementar un prototipo de software tipo web que permita realizar censo de camas en tiempo real con una interfaz intuitiva y de fácil uso para el usuario.
                </p>
    

        </div>

    
    </div>

    <div class="container">

        <img class="imagen" src="..//..//../assets/img/img1.jpg" alt="">
    </div>
</div>




    

</div>
