.wrapper {
    width: 78%;
    text-align: center;
    margin-left: 10%;
}

.wrapper h1 {
    text-align: center;
}

.wrapper p {
    margin-top: 30px;
    font-family: initial;
    font-size: 20px;
    text-align: justify;
}

.wrapper .imagen {
    margin-top: 40px;
    width: 100%;
}

.wrapper .logo {
    width: 500px;
    margin-top: 20px;
    width: 80%;
}

.wrapper .container {
    width: 80%;
}

hr {
    background-color: #264285;
    width: 70%;
    margin-left: 15%;
}

.cuerpo-inicial {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.imagen {
    width: 600px;
    margin-top: 15px;
    border-radius: 15px;
}

.cuerpo-inicial p {
    font-size: 18px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 30px;
    color: black;
}

.img-logos {
    height: 100px;
    filter: grayscale(1)
}

.img-logos:hover {
    height: 105px;
    filter: grayscale(0)
}

.logos2 {
    width: 50%;
    margin-left: 25%;
}