.navbar {
    margin-left: 9%;
    width: 80%;
    background-color: #264285;
    top: 149px;
}

.banner {
    width: 90%;
    height: 120px;
    margin-left: 5%;
    top: 36px;
}

.nav-item {
    font-size: 120%;
}

.separation {
    width: 10%;
    color: #264285;
}

.link-ingreso {
    margin-right: 12.5%;
    margin-left: 10%;
}

.encabezado {
    background-color: #264285;
    margin-left: 9%;
    width: 80%;
    text-align: end;
    font-size: 150%;
    color: white;
}

.iconos {
    width: 35px;
}

i {
    color: white;
    font-size: 25px;
}

h5 {
    font-size: 100%;
}

.ingreso {
    margin-top: 200px;
}

.icon-ingresar {
    color: #264285;
}