.navbar {
    margin-left: 9%;
    width: 80%;
    background-color: #264285;
}

.banner {
    width: 90%;
    margin-left: 5%;
}

.nav-item {
    font-size: 150%;
}

.separation {
    width: 10%;
    color: #264285;
}