<body>
  <div class="container ">

    <a [routerLink]="['/inicio/home']"><i class="fas fa-arrow-left mt-5"></i></a>
  </div>

  <div class="login-box animate__animated animate__fadeIn ">
    <img class="avatar" src="../../../../assets/img/icon.png" alt="Logo">
    <h1>Crear Usuario</h1>
    <form #registerForm="ngForm" (ngSubmit)="onRegister()" novalidate
      class="login100-form validate-form flex-sb flex-w">
      <label for="username">Usuario</label>

      <div class="wrap-input100 m-b-16 mt-1">
        <input class="input100" type="text" required name="usuario" [(ngModel)]="usuario"
          placeholder="Ingrese usuario aqui">
      </div>

      <span *ngIf="registerForm.submitted && registerForm.controls['usuario'].errors"
        class="text-danger animate__animated animate__fadeIn"> El usuario es obligatorio</span>

      <label for="username">Nombre</label>

      <div class="wrap-input100 m-b-16 mt-1">
        <input class="input100" type="text" required name="nombre" [(ngModel)]="nombre"
          placeholder="Ingrese nombre aqui">
      </div>

      <span *ngIf="registerForm.submitted && registerForm.controls['nombre'].errors"
        class="text-danger animate__animated animate__fadeIn"> El Nombre es obligatorio</span>

      <label for="password" class="mt-2"> Contraseña</label>

      <div class="wrap-input100 m-b-16" data-validate="Password is required">
        <input required class="input100" type="password" name="password" [(ngModel)]="clave"
          placeholder="Ingrese Contraseña aqui">
      </div>

      <span *ngIf="registerForm.submitted && registerForm.controls['password'].errors"
        class="text-danger animate__animated animate__fadeIn"> La contraseña es obligatoria</span>


      <br>
      <div class="container-login100-form-btn mt-1">
        <button class="login100-form-btn" type="submit" [disabled]="!registerForm.valid">
          Crear Cuenta
        </button>
      </div>
    </form>



  </div>

</body>