<div class="footer">


    <div class="container contenido">



        <div class="row">
            <div class="col">
                ESE HUS
                <br><br> HOSPITAL UNIVERSITARIO DE SANTANDER
                <br><br>Pagina Oficial:
                <br>

                <button class="btn btn-outline-primary "> Ir</button>
            </div>
            <div class="col">
                <b>DIRECCIÓN:</b>
                <br><br> Urgencias @ 24 Hrs Carrera 33 # 28-126 Bucaramanga, Colombia



            </div>
            <div class="col">
                <b>EMAIL Y TELEFONOS</b>
                <br><br> PBX: 57 691 0030 Fax: 57 635 0116 <br><br> E-mail: siau@hus.gov.co

            </div>
        </div>

        <hr> 2020 - ESE HUS @Derechos Reservados

    </div>

</div>