<div class="footer">


    <div class="container contenido">



        <div class="row">
            <div class="col">
                ESE HUS
                <br><br> HOSPITAL UNIVERSITARIO DE SANTANDER
                <br><br>Pagina Oficial:
                <br>

                <button class="btn btn-outline-primary "> Ir</button>
            </div>
            <div class="col">
                otros
            </div>
            <div class="col">
                otros
            </div>
        </div>

        <hr> 2020 - ESE HUS @Derechos Reservados

    </div>

</div>