<div class="footer">


    <div class="container ">



        <div class="row mt-5 ml-3">
            <div class="col mt-4">
                <h5> <i class="fas fa-hospital">  </i> ESE HUS </h5>
                <hr class="line_title">

                <br> HOSPITAL UNIVERSITARIO DE SANTANDER
                <br><br>Pagina Oficial: <button class="btn btn-outline-light "> Ir</button>
                <br>


            </div>
            <div class="col mt-4" style="border-left:1px solid white;">
                <h5><i class="fas fa-location-arrow">  </i> DIRECCIÓN: </h5>
                <hr class="line_title">
                <br> Urgencias @ 24 Hrs Carrera 33 # 28-126 Bucaramanga, Colombia



            </div>
            <div class="col mt-4" style="border-left:1px solid white;">
                <h5> <i class="fas fa-at">  </i> EMAIL Y TELEFONOS </h5>
                <hr class="line_title">
                <br> PBX: 57 691 0030 Fax: 57 635 0116 <br><br> E-mail: siau@hus.gov.co

            </div>
        </div>


        <div class="container ml-3">
            <hr> 2021 - ESE HUS @Derechos Reservados
        </div>

    </div>

</div>